

# ignore some hidden files that appear on Mac OS:
.DS_Store


# ignore some specific files that may get generated when running python modules or tests:
__pycache__
.pytest-cache

# ignore the ".env" file which often holds secret credentials
# although in this case only stores configuration variables
.env

# ignore any CSV files written to the data directory:
data/*/*.csv
